
<% unless logged_in? %>
 <div class="jumbotron">

    <h1>Dogoing</h1>
 
      <p>To Do List！Just Do IT！</p>

      <%= link_to register_path, class: 'btn btn-lg btn-primary' do %>
      <span class="glyphicon glyphicon-pencil" ></span> 注册
      <% end %>
      <%= link_to login_path, class: 'btn btn-lg btn-success' do %>
      <span class="glyphicon glyphicon-pencil" ></span> 登录
      <% end %>
    

  </div>
<% end %>


  <% if logged_in? %>
    <% @todos.order_by_deadline.each do |todo| %>
      <% unless todo.done %>
        <%= render 'todos/todo', todo: todo %>
      <% end %>
    <% end %>
  <% end %>
   


